// File: app/core/css/variables.scss

// Main settings

$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$headings-font-family: "Source Sans Pro", sans-serif;
$font-family-base: "Open Sans", sans-serif;

// Color definitions

$we-black: #000;
$we-white: #fff;
$we-soft-white: #f8f8f8;
$we-soft-grey: #ddd;
$we-blue: #00f;
$we-purple: #800080;
$we-brown: #a52a2a;
