<nav ng-if="pages.length >= 2">
  <ul class="pagination">
    <li><a ng-click="selectPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
    <li><a ng-click="selectPage(currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
    <li><a class="disabled" ng-click="selectPage(currentPage)">Pagina: {{currentPage}} van {{numPages}}</a></li>
    <li><a ng-click="selectPage(currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <li><a ng-click="selectPage(numPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
  </ul>
</nav>
